$font: ariel;

@media (min-width: 500px) {
 .fond_big {
   font-size: 28px;
   font-family: $font;
 }
 }
 @media (max-width: 499px) {
   .fond_big {
     font-size: 18px;
     font-family: $font;
   }
 }

tr:hover {
  background-color: darkgrey;
}

.bg {

  background-image: url("ufc1.png");


  width: 100%;


  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.transparent {
  background:rgba(200,200,200,0.8);
}


#uppic {
  background-color: red;
}

footer {
  text-align: center;
  p {
    font-size: 18px;
    font-family: $font;
    color: white;
  }
  span {
    color: grey;
  }
}



#carousel {
  height: 200px;
}
